.ball{
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffee00;
    position: absolute;
    top: 0px;
    left: 0px;
}

.example_block {
    display: block;
    margin: 20px 0 0 20px;
}